body {
    text-align:center;
    font-family:'Times New Roman', Times, serif;
    background-color: blue;
    color:azure;
    
}

.vscore {
    position: relative;
    top: 50%;
    right: 40%;

}

.counter {
    position: relative;
    top:50%;
    left: 40%;
}

button {
    padding: 5px;
    margin: 10px;
    border-radius: 30px;
    Background-color: orange;
    color:azure;
}

.qcbtn {
    justify-content:center;
    display: flex block;
    margin: 10px;
}

